.content-landing {
    background-color: rgb(255, 255, 255);
    padding: 2.5rem;
;
    
  
  }
  
  .landing-image {
    background-image: url("../assets/images/home-image.jpg");
    background-color: rgb(253, 253, 253);
    background-position: center;
    background-size: cover;
    height: 500px;
    
  }
  .content-landing P {
    padding: 2rem;
    width: 100%;
    font-size: larger;
  }
  .login {
    display: flex;
    flex-direction: column;
  }
  
  .contain-btn {
    display: flex;
    padding: 5px;
  }
  
  .custom {
    margin-right: 5px;
    transition: 0.5s;
    height: fit-content;
    border: 1px solid red;
    padding: 5px 10px;
    background-color: rgb(238, 194, 211);
  }
  .custom a {
    font-family: sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: rgb(15, 15, 15);
  }
  .custom a:hover {
    color: rgb(15, 15, 15);
    text-decoration: underline;
  }
  .custom:hover {
    background-color: rgb(224, 103, 103);
  }
  .custom:nth-child(2):hover {
    background-color: rgb(221, 177, 195);
  }
  
  @media screen and (max-width: 340px) {
    .content-landing {
      min-width: 281px;
    }
    .landing-image {
      min-width: 281px;
    }
  }
  